.cardCreators {
    overflow: hidden;
    /* padding: 60px 0; */
    background: transparent;
    position: relative;
}

@keyframes slide {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(-100%);
    }
}

.cardCreators:hover .creators-slideCreators {
    animation-play-state: paused;
}

.cardCreators:before, .CardCreators:after {
    position: absolute;
    top: 0;
    /* width: 200px;
    height: 100px; */
    content: "";
    z-index: 2;

}

.cardCreators:before {

    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #141943);


}

.CardCreators:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #141943);
}


.creators-slideCreators {
    /* display: inline-block;
    white-space: nowrap; */
    animation: 20s slide infinite linear

}

.creators-slideCreators img {
    height: 30px;
    margin: 0 40px;
}